.env
logs/
src/__pycache__/
src/llm/__pycache__/
src/abstract_syntax_trees/__pycache__/
src/abstract_syntax_trees/generated/__pycache__/
benchmark_pie/merged_test_cases
benchmark_pie/p*
src/runtime_logs
benchmark_android/__pycache__
RAPL/main
RAPL/*.o
results/
src/runtime_logs/optimized_java.txt
src/java_code_extraction/target
src/scripts/__pycache__
