Here are some feedbacks from evaluator, please optimize further WHILE STRICTLY MAINTAINING IT'S FUNCTIONAL CORRECTNESS.
{{ evaluator_feedback }}

Original code to optimize:
{{ code }}

{% if ast %}
Here is the AST of the source code:
{{ ast }}
{% endif %}

{% if flame_report %}
Here is a textual representation of the flame graph for the current source code:
{{ flame_report }}
{% endif %}